<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd"
	default-autowire="byName" default-lazy-init="false">


	<!-- ===============================================sysmanage start==================================== -->
	<bean id="genericService" class="com.mingtech.framework.core.service.impl.GenericServiceImpl" abstract="true" />
	<bean id="userService" class="com.mingtech.application.sysmanage.service.impl.UserServiceImpl" parent="genericService" />
	<bean id="informService" class="com.mingtech.application.sysmanage.service.impl.InformServiceImpl" parent="genericService" />
	<bean id="departmentService" class="com.mingtech.application.sysmanage.service.impl.DepartmentServiceImpl" parent="genericService" />
	<bean id="roleService" class="com.mingtech.application.sysmanage.service.impl.RoleServiceImpl" parent="genericService" />
	<bean id="resourceService" class="com.mingtech.application.sysmanage.service.impl.ResourceServiceImpl" parent="genericService" />
	<bean id="resourceFactoryManager" class="com.mingtech.application.sysmanage.service.impl.ResourceFactoryManager" />
	<bean id="logService" class="com.mingtech.application.sysmanage.service.impl.LogServiceImpl" parent="genericService" />
	<!-- ===============================================sysmanage end====================================== -->
	
	<bean id="dictionaryService" class="com.mingtech.application.common.logic.impl.DictionaryServiceImpl" parent="genericService" />
	<!-- ===============================================sysmanage end====================================== -->

	<!-- ===============================================EdraftService start==================================== -->
	<bean id="endorsementLogService" class="com.mingtech.application.ecd.service.impl.EndorsementLogServiceImpl" parent="genericService" />
	<!-- ===============================================EdraftService end====================================== -->

	<!-- 运行管理service -->
	<bean id="runStateService" class="com.mingtech.application.runmanage.service.impl.RunStateServiceImpl" parent="genericService" />
	<!-- 运行管理service end -->
	
	<!-- 数据字典缓存 -->
	<bean id="dictionaryCache" class="com.mingtech.application.ecds.common.DictionaryCache" init-method="initDictionaryCache" lazy-init="false" parent="genericService"/>
	<bean id="poolDictionaryCache" class="com.mingtech.application.pool.common.PoolDictionaryCache" init-method="initDictionaryCache" lazy-init="false" parent="genericService"/>
	<!-- 假期 -->
	<bean id="holidayService" class="com.mingtech.application.ecds.common.service.impl.HolidayServiceImpl">
	</bean>


	 <bean id="customerService" class="com.mingtech.application.pool.infomanage.service.impl.CustomerServiceImpl" parent="genericService" >
	    <property name="sessionDao">
			<ref bean="dao"/>
		</property>
	</bean>
	 <bean id="accountService" class="com.mingtech.application.pool.infomanage.service.impl.AccountServiceImpl" parent="genericService" />

	  <!-- ==============委托收款 Begin=============== -->
	 <bean id="consignService" class="com.mingtech.application.ecds.draftcollection.service.impl.ConsignServiceImpl" parent="genericService">
	</bean>
	 <!-- ===============委托收款 End============== -->

	<!-- ===============================================业务管理==================================== -->
	  <bean id="approveService" class="com.mingtech.application.ecds.common.service.impl.ApproveServiceImpl" parent="genericService"/>
	  <!-- 系统管理 -->
	  <!--关于字典表的数据操作-->
	  <bean id="dictCommonService" class="com.mingtech.application.ecds.common.service.impl.DictCommonServiceImpl" parent="genericService"/>
	 <bean id="productTypeService" class="com.mingtech.application.sysmanage.service.impl.ProductTypeServiceImpl" parent="genericService"/>
     
	<!-- 批次号生成器 -->
	 <bean id="batchNoUtils" class="com.mingtech.application.ecds.common.BatchNoUtils" parent="genericService"/>
	
	<bean id="flowNumberService" class="com.mingtech.application.ecds.common.service.impl.FlowNumberServiceImpl" parent="genericService" />


	<bean id="poolEBankService" class="com.mingtech.application.pool.bank.netbanksys.service.impl.PoolEBankServiceImpl" parent="genericService" />

	<bean id="autoTaskService" class="com.mingtech.application.autotask.core.autotask.AutoTaskServiceImpl" parent="genericService"/>
	<bean id="pedProtocolService" class="com.mingtech.application.pool.common.service.impl.PedProtocolServiceImpl" parent="genericService"/>
	<bean id="draftPoolInService" class="com.mingtech.application.pool.draft.service.impl.DraftPoolInServiceImpl" parent="genericService"/>
	
 	<!-- 行内接口日志服务 -->
	<bean id="transLogService" class="com.mingtech.application.pool.bank.translog.service.impl.TransLogServiceImpl" parent="genericService"/>
 	
 	<!-- 贴现利率管理控制 -->
 	<bean id="txRateMaintainInfoService" class="com.mingtech.application.pool.discount.service.ipml.TxRateMaintainInfoServiceIpml" parent="genericService"></bean>
	
	<!-- 贴现管理控制 -->
 	<bean id="txConfigManagerService" class="com.mingtech.application.pool.discount.service.ipml.TxConfigManagerServiceimpl" parent="genericService"></bean>
	
	<!-- 贴现中台服务 -->
 	<bean id="centerPlatformSysService" class="com.mingtech.application.pool.discount.service.ipml.CenterPlatformSysServiceImpl" parent="genericService"></bean>
	
	<!-- 贴现管理控制 -->
 	<bean id="txOnlineProtocolService" class="com.mingtech.application.pool.discount.service.ipml.TxOnlineProtocolServiceimpl" parent="genericService"></bean>
	
</beans>
